body {
    background-color : rgb(227, 141, 209);
    position: relative;
    height: 100vh;
}


#board {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgb(146, 234, 244);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 70%;
    width: 50%;
    border: 10px solid #000;
    border-radius: 10px;
}

#points {
  position: absolute;
  font-size: 5vh;
  text-align: center;
}

#player {
    position: absolute;
    transition: linear 100ms;
    background-image: url("../img/old1.png");
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;

}
.rotated {
    transform: rotate(45deg);
}

.pigeons {
    position: absolute;
    background-image: url("../img/pigeon-fly.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.bullets {
    position: absolute;
}

.poops {
    position: absolute;
}

#game_over {
    background-image: url("../img/pigeon.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 70%;
    width: 50%;
    border: 20px solid rgb(2, 65, 153);
    border-style: dashed double;
    border-radius: 10px;
    text-align: center;
}
#title {
    
}